%h2 Accessibility
%p
%p Our website is built using Hypertext Markup Language (HTML) and Cascading Style Sheets (CSS), according to World Wide Web Consortium (W3C) standards.
%p It is designed to comply with our own accessibility standards, in line with recognised best practice.
%p For example, our website follows the W3C Web Content Accessibility Guidelines and the British standard BS 8878 framework for web accessibility.
%p
  = link_to 'Web Content Accessibility Guidelines (WCAG) Overview', 'https://www.w3.org/WAI/intro/wcag.php', target: '_blank', title: 'Go to the WCAG website'
%p
  = link_to 'BS 8878: Web accessibility code of practice', 'https://shop.bsigroup.com/ProductDetail/?pid=000000000030180388', target: '_blank', title: 'Go to the web accessibility website'
