%p Dear #{@user.givenname} #{@user.sn},
%p
%p Your reservation for the following item: #{@loan.item.name} is now available for collection
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
