%p Dear #{@user.givenname} #{@user.sn},
%p
%p Your cancellation request has been sent for the following item: #{@loan.item.name}
%p
%p It is now awating approval from an admin before it can be removed from your account. 
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
