%p Dear #{@user.givenname} #{@user.sn},
%p
%p Your loan extension has been successfully created for the following item: #{@loan.item.name}
%p
%p Your new loan has been extended until #{@loan.date_until}
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
