%p Dear #{@user.givenname} #{@user.sn},
%p
%p Your item: #{@loan.item.name} is overdue
%p
%p The item was meant to be handed in at #{@loan.date_until}
%p
%p Please may you return the item as quickly as possible.
%p If you have already returned or requested to return the item, ignore this email.
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
