%p Dear Admin User,
%p
%p #{@user.givenname} #{@user.sn} has the following overdue item #{@loan.item.name}
%p
%p The loan needed to be returned on #{@loan.date_until}
%P
%p If the item has already been returned or requested to be returned, ignore this email.
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
