%p Dear #{@admin.givenname} #{@admin.sn},
%p
%p The following item has successfully been created: #{@item.name}
%p
%p You can now view it in the catalogue.
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
