%p Dear #{@user.givenname} #{@user.sn},
%p
%p Regarding the following item you have loaned out: #{@loan.item.name}
%p
%p It is due back on #{@loan.date_until}, if you wish to extend your loan period please do so via the theatre workshop app or website, under the 'myloans' page.
%p If you have already returned or requested to return this item, ignore this email.
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
