%p Dear Admin User,
%p
%p #{@user.givenname} #{@user.sn} has submitted a reservation cancellation for the following item: #{@loan.item.name}
%p
%p This item requires authorization from a member of the admin team in order for it to be removed from the student's account.
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
