%p Dear #{@admin.givenname} #{@admin.sn},
%p
%p The csv file has successfully been added.
%p
%p The new items will now be viewable in the catalogue.
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
