%p Dear #{@user.givenname} #{@user.sn},
%p
%p The following item is due soon: #{@loan.item.name}
%p
%p The date it is due is: #{@loan.date_until}
%p
%p Thank you for using our system.
%p
%p Sheffield University Theatre Workshop
