%h2 Contact Us
%br
%p Rob Hemus
%p Theatre and Production Manager
%br
%p Email: r.d.hemus@shef.ac.uk
%p Phone: (+44)141 222 8450
%br
%p School of English Theatre Workshop
%p 4a Shearwood Road
%p Sheffield
%p S10 2TD
%br
%p
  = link_to 'Our department web page', 'https://www.sheffield.ac.uk/english/facilities/theatrespaces#tab00', target: '_blank', title: 'Go to the University Department webpage'
